.success-box {
  padding: 40px 40px 0px 40px;
  @media only screen and (max-width: 600px) {
    padding: 20px 20px 0px 20px;
  }
}

.success-svg svg {
  border: grey;
  border-style: inset;
  border-radius: 30px;
  padding-top: 18px;
  border-width: 1px;
  background: rgba(255, 255, 255, 0.4);
}

// Sorry for the !important but no solution...
.gold-success svg {
  border: rgb(255, 215, 0) !important;
  border-width: 7px !important;
  border-style: inset !important;
  background: white;
}

.ant-notification {
  opacity: 0.94;
}

.ant-notification:hover {
  opacity: 1;
}

.ant-notification-notice {
  padding: 5px 24px;
  border-radius: 25px;
  background-image: linear-gradient(
    to right top,
    #e2e2e7,
    #dddfe3,
    #d9dcdf,
    #d6d9da,
    #d3d6d6,
    #c6c9ca,
    #b9bdbd,
    #adb0b1,
    #95989a,
    #7e8184,
    #686a6e,
    #545459
  );
  box-shadow: 13px 13px 70px -16px white;
}

.ant-notification-notice-with-icon .ant-notification-notice-description {
  text-align: center;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.notification-content-description {
  padding-left: 60px;
}

.ant-notification-notice-close-x {
  color: white;
}
