app-modal-header {
  display: block;
  height: 0px;
}

.header-modal-title {
  margin: 0;
}

.ant-modal-body {
  padding: 10px;
}

.ant-modal-content {
  border-radius: 20px;
  height: 350px;
}
.header-welcome {
}
