.choice-boxs {
  padding: 40px;

  display: flex;
  align-items: center;
  @media only screen and (max-width: 600px) {
    padding: 20px;
  }
}

.choice-box {
  padding: 30px 50px 30px 50px;
  @media only screen and (max-width: 600px) {
    padding: 10px;
  }
}

.choice-svg svg {
  height: 100px;
}

.disabled {
  filter: opacity(0.2);
}
